@media screen and (min-width:500px) {

 .tab {
     width:20%;
 }

 .tabcontent {

  width: 80%;


 }

    th, td {
        
        padding: 8px 10px;
        font-size:10px;
        
      }

      .mark {
      
        padding: 6px;
        font-size:10px;
      }

      .bark {
      
        padding: 6px;
        font-size:10px;
      }
     

}


@media screen and (min-width:760px) {



    th, td {
        
        padding: 9px 12px;
        font-size:16px;
        
      }
}