@media screen and (min-width: 520px) {
/*****   Responsive styling for homepage */
     header {
         margin: 1% 0 0 0;
         
     }
    #main-section {
    
        background-image:url(14.jpg);
        /* background-position: 30% 10%; */
    }

    #main-section h1 {
        margin: 15% 1% 0 0;
        font-size: 26px;
        
    
    }
    
    #main-section p{
         
         font-size: 15px;   
        
    }

    #main-button {
        
         margin: 4% 0 8%;
     }
/*****   Responsive styling for homepage  (Ends here for this media screen)
.
.
.
 */



/*****   Responsive styling for signup/signin page begins here */

#main-form {
    width: 70;
   padding:0 0 0 25%;
}

input[type=submit] {
    width: 14%;
    padding: 1%;
    margin-left: 23%;
}

#main-form .set {
    margin-left: 14%;
    color:  #000080;
}
/*****   Responsive styling for signup/signin page ends here */


}


@media screen and (min-width: 780px) {
/*****   Responsive styling for homepage */
    nav li {
       border: 2px solid #0000ff;
       padding: 5px;
    }
     
    
    
    #main-section {
        
        background-image:url(15.jpg);
       
        
        
    }

    #main-section h1 {
        
        font-size: 36px;
        
    
    }
    
    #main-section p{
    
         font-size: 20px;
        
       
        
    }
/*****   Responsive styling for homepage page ends here */


/*****   Responsive styling for signup/signin page*/
#main-form {
       
    width: 60%;
    padding:0 0 0 33%;
 }


 #main-form .set {
    margin-left: 14%;
    color:  #000080;
}


 /*****   Responsive styling for signup/signin page ends here */

}
