/* style for the body */
body {
    padding:0;
    margin:0;
    color:#0000FF;
     
    font-family: 'century Gothic',Courier New, Courier, monospace;
    
}
/* style for all hyperlink */
a {
    text-decoration: none;
}

/* style for the heading element */
header {
    width: 100%;
    
    font-weight: 600;
    font-size: 12px;

}

/* style for the quick credit logo*/
#logo img {
      width: 190px;
      margin: 0.2em 2%;
      float:left;
}
/* style for the navigation  */

nav ul {
    
    list-style: none;
    margin-right: 5%;
   float:right;

}
/* style for the navigation list */

nav li {
    color:#0000FF;
    width: 60px;
    border: 1px solid #0000FF;
    border-radius: 15px;
    padding: 3px;
    text-align:center;
  
}
/* style for the navigation list hovering */
nav li:hover {
    color: #000080;
    border-color:#000080;
}
/* style for the wrapper */
#wrapper {
    color:#0000FF;
    border-top: 2px solid #0000FF;
    width:100%;
    padding-top:20px;
    clear: right;
    
    
}
/* style for the wrapper level one heading element */

#wrapper h1 {
     text-align:center;
    font-size: 20px;
    color:#0000FF; 
    padding-bottom:30px;
}
/* style for the form */
#main-form {
   width: 80%;
   padding:0 0 0 20%;
}

/* style for the form paragraph */
#main-form p {
     text-align:left;
    padding:0;
    font-weight: 600;
    color: grey;
}
/* style for the form input */
input {
    border: 2px solid #0000FF;
    border-radius: 2px;
    width:70%;
    height:30px;
    display: inline;
}
/* style for the submit  */

input[type=submit] {
    width: 25%;
    margin-top: 3%;
    margin-left: 18%;
    padding: 2%;

    border:1px solid#0000FF;
    font-family: 'century Gothic' Courier New, Courier, monospace;
    border-radius: 3px;
    text-align:center;
    background: #ffff;
    color: #0000FF;
}
/* style for the submit hover */

input[type=submit]:hover {
    border: 2px solid #0000FF;
}

/* style for dialog box user feed back display */
.fresult,#head {
     background-color: #ee8585;
     color: #e40d0d;
     width: 30%;
     font-weight: 800;
     
}
/* style for sign in if already have an account */
#main-form .set {
    margin-left: 4%;
    color:  #0000FF;
}

/* style for hovering over sign in */
.set a:hover {
    text-decoration:underline;
}

/* style for the footer */
footer {
    
    text-align:center;
     margin-bottom: -3%;
     border-top:  3px solid #0000FF;
     
 
 
 }
 /* style for the footer paragraph */
 
 footer p {
     color: #0000FF;
 }
 